<%= simple_form_for @group do |f| %>
    <div class="form-group">
        <%= f.input :title %>
        <%= f.input :description %>
    </div>
    <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
<% end %>
